/* Styles for Storybook */

.embed-responsive {
  position: relative !important;
  display: block !important;
  height: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.aspect-ratio-none {
  padding-bottom: 0 !important;
}

.aspect-ratio-square {
  padding-bottom: 100% !important;
}

.aspect-ratio-16\/9 {
  padding-bottom: 56.25% !important;
}

.aspect-ratio-4\/3 {
  padding-bottom: 75% !important;
}

.aspect-ratio-21\/9 {
  padding-bottom: 42.86% !important;
}

/* Components Styles */

.ryt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.ryt-lite::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
  background-position: top;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  box-sizing: content-box;
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
.ryt-lite::after {
  content: '';
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}

.ryt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.ryt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.ryt-lite:hover > .lty-playbtn {
  background-color: #f00;
  opacity: 1;
}

/* play button triangle */
.ryt-lite > .lty-playbtn::before {
  content: '';
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.ryt-lite > .lty-playbtn,
.ryt-lite > .lty-playbtn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.ryt-lite.lyt-activated {
  cursor: unset;
}

.ryt-lite.lyt-activated::before,
.ryt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
